html,
body {
  height: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.drawer .drawer-content {
  width: 240px;
  position: absolute;
  top: 0;
  left: -240px;
  bottom: 0;
  overflow-y: auto;
  transition: left 0.15s;
  background: #fafafa;
  border-right: 1px solid #eee;
}

.drawer.open .drawer-content {
  left: 0;
}

.drawer-menu ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer-menu-item {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: #555;
  font-size: 14px;
  line-height: 20px;
}

.drawer-menu-item.active {
  color: #303f9f;
}

.drawer-menu ol ol .drawer-menu-item {
  padding-left: 32px;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: left 0.15s;
}

.drawer.open + .main {
  left: 240px;
}

.main-content {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 32px;
  outline: 0;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.toolbar {
  padding: 4px;
  display: flex;
}

.toolbar-title {
  padding: 12px;
  flex-grow: 1;
  font-weight: bold;
}

.toolbar-title a {
  color: #999;
  text-decoration: none;
}

.toolbar-title a:hover {
  color: #555;
}

.toolbar-action {
  padding: 4px;
}

.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  background: transparent;
  line-height: 1;
  border: none;
  padding: 0;
}

.button-icon {
  padding: 8px;
}

.button-icon {
  fill: #999;
}

.button-icon:hover {
  fill: #555;
}

.button-icon {
  width: 40px;
  height: 40px;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 240px;
  max-width: 90%;
  max-height: 480px;
  top: 100%;
  right: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 10;
  overflow-y: auto;
  background: white;
  font-size: 14px;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu-item {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #555;
}

.dropdown-menu-item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #333;
}

.dropdown-menu-item.active {
  color: #3f51b5;
}

.dropdown-menu ol ol .dropdown-menu-item {
  padding-left: 24px;
}

.paginator {
}

.paginator a {
  padding: 32px;
  fill: #999;
  text-decoration: none;
}

.paginator a svg {
}

.paginator a:hover {
  fill: #555;
}

.paginator a.disabled {
  visibility: hidden;
}

.paginator-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
}

.paginator-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56px;
  bottom: 0;
  right: 0;
}

@media (max-width: 1280px) {
  .drawer.open .drawer-content {
    z-index: 20;
    background: white;
  }

  .drawer .drawer-backdrop {
    display: none;
  }

  .drawer.open .drawer-backdrop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.15);
  }

  .drawer.open + .main {
    left: 0;
  }

  .drawer.open .drawer-content {
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }

  .main-content {
    bottom: 56px;
  }

  .paginator {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .paginator a {
    padding: 16px;
  }

  .paginator-prev {
    position: static;
    flex-grow: 1;
    justify-content: center;
  }

  .paginator-next {
    position: static;
    flex-grow: 1;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 16px;
  }
}
