<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ book.title }}</title>
    <link rel="icon" href="icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="highlight.css" />
    <link rel="stylesheet" href="html.css" />
    <script src="html.js"></script>
  </head>
  <body class="preload">
    <div id="drawer" class="drawer">
      <div class="drawer-content">
        <div class="drawer-menu">
          {% if book.outline[0] %}
            <ol>
              {% for item in book.outline %}
                <li>
                  <a class="drawer-menu-item {% if item.path == page.path %} active {% endif %}" href="{{ item.path }}">{{ item.title }}</a>
                  {% if item.items %}
                    <ol>
                      {% for subitem in item.items %}
                        <li>
                          <a class="drawer-menu-item level-2 {% if item.path == page.path %} active {% endif %}" href="{{ subitem.path }}">{{ subitem.title }}</a>
                        </li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
          {% endif %}
        </div>
      </div>
      <div class="drawer-backdrop">
      </div>
    </div>
    <div class="main">
      <div class="toolbar">
        <div class="toolbar-action">
          <button id="drawer-toggle" type="button" class="button button-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"/></svg>
          </button>
        </div>
        <div class="toolbar-title">
          <a href="index.html">
            {{ book.title }}
          </a>
        </div>
      </div>
      <div class="main-content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
      <div class="paginator">
        <a href="{{ page.prev_page.path }}" class="paginator-prev {% if page.prev_page == nil %} disabled {% endif %}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z"/></svg>
        </a>
        <a href="{{ page.next_page.path }}" class="paginator-next {% if page.next_page == nil %} disabled {% endif %}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M7.38 21.01c.49.49 1.28.49 1.77 0l8.31-8.31c.39-.39.39-1.02 0-1.41L9.15 2.98c-.49-.49-1.28-.49-1.77 0s-.49 1.28 0 1.77L14.62 12l-7.25 7.25c-.48.48-.48 1.28.01 1.76z"/></svg>
        </a>
      </div>
    </div>
  </body>
</html>
