<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ book.title }}</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="html.css" />
    <script src="html.js" defer></script>
  </head>
  <body>
    <div id="drawer" class="drawer">
      <div class="drawer-content">
        <div class="heading">
          {{ book.title }}
        </div>
        <div class="nav">
          {% if book.toc[0] %}
            <ol>
              {% for item in book.toc %}
                <li class="nav-item">
                  <a href="{{ item.path }}">{{ item.title }}</a>
                  {% if item.items %}
                    <ol>
                      {% for subitem in item.items %}
                        <li class="nav-item">
                          <a href="{{ subitem.path }}">{{ subitem.title }}</a>
                        </li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
          {% endif %}
        </div>
      </div>
      <div id="drawer-backdrop" class="drawer-backdrop">
      </div>
    </div>
    <div class="main">
      <div class="toolbar">
        <div class="toolbar-action">
          <button id="drawer-button" type="button" class="button button-icon">
            <img src="icons/menu-24px.svg">
          </button>
        </div>
      </div>
      <div class="content">
        {{ page.content }}
      </div>
      <div class="paginator">
        {% if page.prev_page %}
          <a href="{{ page.prev_page.path }}">
            <img src="icons/navigate_before-24px.svg">
            <span>{{ page.prev_page.title }}</span>
          </a>
        {% endif %}
        {% if page.next_page %}
          <a href="{{ page.next_page.path }}">
            <span>{{ page.next_page.title }}</span>
            <img src="icons/navigate_next-24px.svg">
          </a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
