<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ book.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="highlight.css" />
    <link rel="stylesheet" href="html.css" />
    <script src="html.js"></script>
  </head>
  <body class="preload">
    <div id="drawer" class="drawer">
      <div class="drawer-content">
        <div class="drawer-menu">
          {% if book.outline[0] %}
            <ol>
              {% for item in book.outline %}
                <li>
                  <a class="drawer-menu-item {% if item.path == page.path %} active {% endif %}" href="{{ item.path }}">{{ item.title }}</a>
                  {% if item.items %}
                    <ol>
                      {% for subitem in item.items %}
                        <li>
                          <a class="drawer-menu-item level-2 {% if item.path == page.path %} active {% endif %}" href="{{ subitem.path }}">{{ subitem.title }}</a>
                        </li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
          {% endif %}
        </div>
      </div>
      <div class="drawer-backdrop">
      </div>
    </div>
    <div class="main">
      <div class="toolbar">
        <div class="toolbar-action">
          <button id="drawer-toggle" type="button" class="button button-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
          </button>
        </div>
        <div class="toolbar-title">
          <a href="index.html">
            {{ book.title }}
          </a>
        </div>
      </div>
      <div class="main-content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
      <div class="paginator">
        <a href="{{ page.prev_page.path }}" class="paginator-prev {% if page.prev_page == nil %} disabled {% endif %}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
        <a href="{{ page.next_page.path }}" class="paginator-next {% if page.next_page == nil %} disabled {% endif %}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
      </div>
    </div>
  </body>
</html>
