@import "fontawesome/fontawesome.css";
@import "fontawesome/solid.css";

html {
}

body {
  line-height: 1.5;
  font-size: 1em;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 1em;
  color: #c62828;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

a {
  color: #3f51b5;
}

a:hover {
  color: #303f9f;
}

img {
  max-width: 100%;
  line-height: 1;
}

pre {
  line-height: 1.2;
  margin: 1em 0;
  background-color: #f8f8f8;
  padding: 1em;
  white-space: pre-wrap;
}

.toc ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ol ol {
  padding-left: 1em;
}

.toc a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}

ul, ol {
}

a.callout {
  display: inline-block;
  background: #333;
  color: white;
  border-radius: 50%;
  font-size: 0.75em;
  line-height: 1.5em;
  width: 1.5em;
  text-decoration: none;
  text-align: center;
}

ul.colist {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

figure {
  margin: 1em 0;
}

figure.image {
  text-align: center;
}

figcaption {
  font-style: italic;
}

.example {
  margin: 1em 0;
  padding: 1em;
  background: #eee;
}

.example > *:first-child {
  margin-top: 0;
}

.example > *:last-child {
  margin-bottom: 0;
}

.sidebar {
  margin: 1em 0;
  padding: 1em;
  background: #eee;
}

.sidebar > *:first-child {
  margin-top: 0;
}

.sidebar > *:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  margin: 1em 0;
  text-align: left;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-style: italic;
}

table thead th {
  border-bottom: 2px solid #ccc;
  padding: 0.75em;
}

table tbody td {
  border-bottom: 1px solid #ccc;
  padding: 0.75em;
}

blockquote {
  padding: 1em;
  margin: 1em 0;
  border-left: 2px solid #ccc;
  background: #eee;
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 1.5em;
  padding-top: 1em;
}

.admonition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em 0;
}

.admonition-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  padding: 0.5em;
  font-size: 2em;
  width: 1em;
  text-align: center;
}

.admonition-content {
  padding: 0.5em 0 0.5em 1em;
  border-left: 1px solid #ccc;
}

.admonition-content > *:first-child {
  margin-top: 0;
}

.admonition-content > *:last-child {
  margin-bottom: 0;
}


.admonition-important .admonition-icon::before {
  content: "\f06a";
  color: #bf0000;
}

.admonition-note .admonition-icon::before {
  content: "\f05a";
  color: #19407c;
}

.admonition-tip .admonition-icon::before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155,155,0,.8);
  color: #111;
}

.admonition-caution .admonition-icon::before {
  content: "\f06d";
  color: #bf3400;
}

.admonition-warning .admonition-icon::before {
  content: "\f071";
  color: #bf6900;
}
