html {
}

body {
  line-height: 1.5;
  font-size: 1em;
  font-family: sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 1em;
  color: #c62828;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

a {
  color: #3f51b5;
}

a:hover {
  color: #303f9f;
}

img {
  max-width: 100%;
  line-height: 1;
}

pre {
  line-height: 1.2;
  margin: 1em 0;
  background: #f8f8f8;
  padding: 1em;
  white-space: pre-wrap;
}

code {
  background: #f8f8f8;
  padding: 0 4px;
}

pre code {
  background: transparent;
  padding: 0;
}

.toc ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ol ol {
  padding-left: 1em;
}

.toc a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}

ul, ol {
}

a.callout {
  display: inline-block;
  background: #333;
  color: white;
  border-radius: 50%;
  font-size: 0.75em;
  line-height: 1.5em;
  width: 1.5em;
  text-decoration: none;
  text-align: center;
}

ul.colist {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

figure {
  margin: 1em 0;
}

figure.image {
  text-align: center;
}

figcaption {
  font-style: italic;
}

figure pre {
  margin: 0;
}

.example {
  margin: 1em 0;
  padding: 1em;
  background: #eee;
}

.example > *:first-child {
  margin-top: 0;
}

.example > *:last-child {
  margin-bottom: 0;
}

.sidebar {
  margin: 1em 0;
  padding: 1em;
  background: #eee;
}

.sidebar > *:first-child {
  margin-top: 0;
}

.sidebar > *:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  margin: 1em 0;
  text-align: left;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-style: italic;
}

table thead th {
  border-bottom: 2px solid #ccc;
  padding: 0.75em;
}

table tbody td {
  border-bottom: 1px solid #ccc;
  padding: 0.75em;
}

blockquote {
  padding: 1em;
  margin: 1em 0;
  border-left: 2px solid #ccc;
  background: #eee;
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 1.5em;
  padding-top: 1em;
}

.admonition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em 0;
}

.admonition-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 1;
  padding: 0.5em;
}

.admonition-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0.5em 0 0.5em 1em;
  border-left: 1px solid #ccc;
}

.admonition-content > *:first-child {
  margin-top: 0;
}

.admonition-content > *:last-child {
  margin-bottom: 0;
}

.admonition-note .admonition-icon {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="40" fill="%231976d2"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z"/></svg>');

}

.admonition-tip .admonition-icon {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="40" fill="%23fbc02d"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4.25 19.79c.39.39 1.02.39 1.41 0l.39-.39c.39-.39.38-1.02 0-1.4l-.01-.01c-.39-.39-1.02-.39-1.41 0l-.39.39c-.38.4-.38 1.02.01 1.41zM11.99 23H12c.55 0 .99-.44.99-.99v-.96c0-.55-.44-.99-.99-.99h-.01c-.55 0-.99.44-.99.99v.96c0 .55.44.99.99.99zM3.01 11.05H1.99c-.55 0-.99.44-.99.99v.01c0 .55.44.99.99.99H3c.55 0 .99-.44.99-.99v-.01c.01-.55-.43-.99-.98-.99zM15 6.86V3.05c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v3.81c-2.04 1.18-3.32 3.52-2.93 6.13.4 2.61 2.56 4.7 5.18 5.02 3.64.44 6.75-2.4 6.75-5.95 0-2.23-1.21-4.16-3-5.2zm5 5.18v.01c0 .55.44.99.99.99H22c.55 0 .99-.44.99-.99v-.01c0-.55-.44-.99-.99-.99h-1.01c-.55 0-.99.44-.99.99zm-2.06 7.37l.39.39c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41l-.39-.39c-.39-.39-1.02-.38-1.4 0-.4.4-.4 1.02-.01 1.41z"/></svg>');
}

.admonition-important .admonition-icon {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="40" fill="%23d32f2f"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 11c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1 4h-2v-2h2v2z"/></svg>');
}

.admonition-warning .admonition-icon {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="40" fill="%23ffa000"><path d="M4.47 21h15.06c1.54 0 2.5-1.67 1.73-3L13.73 4.99c-.77-1.33-2.69-1.33-3.46 0L2.74 18c-.77 1.33.19 3 1.73 3zM12 14c-.55 0-1-.45-1-1v-2c0-.55.45-1 1-1s1 .45 1 1v2c0 .55-.45 1-1 1zm1 4h-2v-2h2v2z"/></svg>');
}

.admonition-caution .admonition-icon {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="40" fill="%23d32f2f"><path d="M4.47 21h15.06c1.54 0 2.5-1.67 1.73-3L13.73 4.99c-.77-1.33-2.69-1.33-3.46 0L2.74 18c-.77 1.33.19 3 1.73 3zM12 14c-.55 0-1-.45-1-1v-2c0-.55.45-1 1-1s1 .45 1 1v2c0 .55-.45 1-1 1zm1 4h-2v-2h2v2z"/></svg>');
}
