<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if node.title %}<title>{{ node.title }}</title>{% endif %}
  </head>
  <body>
    {%- if node.title -%}
      <header>
        <h1>{{ node.title }}</h1>
        {% if node.subtitle %}<p class="subtitle">{{ node.subtitle }}</p>{% endif %}
        {%- if node.authors.size > 0 -%}
          {%- for author in node.authors -%}
            <p class="author">{{ author.name }}</p>
          {%- endfor -%}
        {%- endif -%}
      </header>
    {%- endif -%}

    {% if node.attributes.toc %}
      <nav class="toc">
        <h1>{{ node.attributes.toc-title }}</h1>
        {{ node.outline }}
      </nav>
    {% endif %}

    {{ node.content }}
  </body>
</html>
