{%- case node.type -%}
{%- when 'xref' -%}
  <a class="xref" href="{{ node.target }}">{{ node.text }}</a>
{%- when 'ref' -%}
  <a class="ref" id="{{ node.id }}"></a>
{%- when 'link' -%}
  <a class="link" href="{{ node.target }}"
     {% if node.attributes.title %}title="{{ node.attributes.title }}"{% endif %}
     {% if node.attributes.window %}target="{{ node.attributes.window }}"{% endif %} >{{ node.text }}</a>
{%- when 'bibref' -%}
  <a class="bibref" id="{{ node.id }}"></a>[{{ node.xreftext | default: node.id }}]
{%- endcase -%}