<video {% if node.id %}id="{{ node.id }}"{% endif %}
       src="{{ node.attributes.target }}"
       controls="controls"
       {% if node.attributes.width %}width="{{ node.attributes.width }}"{% endif %}
       {% if node.attributes.height %}height="{{ node.attributes.height }}"{% endif %}
       {% if node.attributes.poster %}poster="{{ node.attributes.poster }}"{% endif %}
       {% if node.attributes.autoplay-option  %}autoplay="autoplay"{% endif %}
       {% if node.attributes.loop-option %}loop="loop"{% endif %}>
  <em>Sorry, the &lt;video&gt; element not supported in your reading system.</em>
</video>
