body {
  padding: 0;
  margin: 0;
  color: #333;
}

.toc {
  position: fixed;
  top: 0;
  left: -240px;
  bottom: 0;
  width: 240px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0;
  transition: left 0.3s;
}

.toc.active {
  left: 0;
}

.toc.active + .main {
  margin-left: 240px;
}

.toc .heading {
  padding: 16px;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.toc .nav {
}

.toc .nav-item {
  display: block;
  padding: 16px;
  line-height: 1;
  color: #333;
  text-decoration: none;
}

.toc .nav-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.toc .nav-item.active {
  background: rgba(0, 0, 0, 0.1);
}

.main {
  transition: margin 0.3s;
}

.toolbar {
}

.toolbar-action {
  padding: 6px;
}

.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  background: transparent;
  line-height: 1;
  border: none;
  padding: 0;
}

.button-icon {
  padding: 6px;
}

.button-icon:hover {
}

.content {
  padding: 16px;
  max-width: 768px;
  margin: 0 auto;
}
