<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ book.title }}</title>
    <link rel="stylesheet" href="default.css">
    <script src="default.js" defer></script>
  </head>
  <body>
    <div id="drawer" class="drawer">
      <div class="drawer-content">
        <div class="heading">
          {{ book.title }}
        </div>
        <div class="nav">
          {% if book.toc[0] %}
            <ol>
              {% for item in book.toc %}
                <li class="nav-item">
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ol>
          {% endif %}
        </div>
      </div>
      <div id="drawer-backdrop" class="drawer-backdrop">
      </div>
    </div>
    <div class="main">
      <div class="toolbar">
        <div class="toolbar-action">
          <button id="drawer-button" type="button" class="button button-icon">
            <img src="icons/menu-24px.svg">
          </button>
        </div>
      </div>
      <div class="content">
        {{ page.content }}
      </div>
    </div>
  </body>
</html>
